.input {
  border: none;
  border-bottom: 2px solid #f0f3f9;
  outline: none;
  padding: 8px 12px;
  background: none;
}

.button {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  background: none;
  padding: 8px 12px;
  cursor: pointer;
}
