input {
  width: auto;
  height: 30px;
  margin: 10px;
  padding: auto;
  background-attachment: fixed;
  background-color: transparent;
  border-radius: 10px;
}

textarea {
  width: auto;
  margin: 10px;
  padding: auto;
  background-attachment: fixed;
  background-color: transparent;
  border-radius: 10px;
}

input,
textarea {
  border: white 3px solid;
}
Button {
  color: white;
}
